body{
  background-color: #777777;
  color:#b1bcbb;
  margin: 0px;
  padding: 0px;
}
.main{
  margin:0.5em;
}
h1{
  margin:0px;
  padding:0px;
}
header{
  text-align: center;
  background-color: #5e5e5e;
}

.die{
  display:block;
  margin: 5px;
  user-select: none;
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.2);
}

.free{
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.2);
}

.held{
  box-shadow: 0px 0px 4px 3px green;
}

.commandUsed{
  box-shadow: 0px 0px 4px 3px red;
}

.button{
  display: block;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 3px;
  background-color: #5e5e5e;
  border-radius: 3px;
  font-size: 2em;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
  user-select: none;
  text-align: center;
}

.dice{
  display: flex;
  flex-wrap: wrap;
  user-select: none;
  justify-content: center;
}

.buttons{
  display: flex;
  flex-wrap: wrap;
  user-select: none;
  justify-content: center;
}

.commandMode{
  display: none;
}
.commandModeActive{
  background-color: #4c4c4c;
}

.switchMode{
  width:100%;
}
